@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 0% 100%;
    --foreground: 38 0% 10%;
    --card: 38 0% 100%;
    --card-foreground: 38 0% 15%;
    --popover: 38 0% 100%;
    --popover-foreground: 38 95% 10%;
    --primary: 38 100% 47.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 38 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 10% 95%;
    --muted-foreground: 38 0% 40%;
    --accent: 0 10% 90%;
    --accent-foreground: 38 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 38 0% 100%;
    --border: 38 20% 82%;
    --input: 38 20% 50%;
    --ring: 38 100% 47.6%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 38 10% 10%;
    --foreground: 38 0% 100%;
    --card: 38 0% 10%;
    --card-foreground: 38 0% 100%;
    --popover: 38 10% 5%;
    --popover-foreground: 38 0% 100%;
    --primary: 38 100% 47.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 38 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 10% 25%;
    --muted-foreground: 38 0% 65%;
    --accent: 0 10% 25%;
    --accent-foreground: 38 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 38 0% 100%;
    --border: 38 20% 50%;
    --input: 38 20% 50%;
    --ring: 38 100% 47.6%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-size: 20px;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "IBM Plex Sans JP";
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}
