name: Playwright Tests
on:
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  playwright:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: lts/*
    - name: Install dependencies
      run: |
        npm install -g corepack@latest
        corepack pnpm install
    - name: Install Playwright Browsers
      run: corepack pnpm exec playwright install --with-deps
    - name: Run Playwright tests
      run: corepack pnpm exec playwright test
    - uses: actions/upload-artifact@v6
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
